<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/loginPage.css"> <!-- Link to the style.css file -->
    <link rel="stylesheet" href="/css/styles.css"> 
</head>
<body> 
    <header class="restaurant-navbar">
        <a href="/"><img src="/images/logo.png" alt="ServeHarmony Logo" class="logo"></a>
        <a href="/"><h1>ServeHarmony</h1></a>
    </header>
    <div class="container">
        <div class="box signin">
            <h2>Already Have an Account ?</h2>
            <button class="signinBtn">Sign in</button>
        </div>
        <div class="box signup">
            <h2>Dont Have an Account ?</h2>
            <button class="signupBtn">Sign up</button>
        </div> 
        <div class="formBx">
            <div class="form signinform">
                <form action="/login" method="POST" id="loginForm">  
                    <h3>Sign In</h3>   
                    <input type="number" id="phoneNumber" name="phoneNumber" placeholder="Enter your phone number">
                    <input type="password" name="password" placeholder="Password">
                    <p id="number_err" class="error"></p>
                    <input type="submit" value="Login">
                </form> 
            </div>
            <div class="form signupform">
                <form action="/register" method="POST" id="registerForm">   
                    <h3>Sign Up</h3>  
                    <input type="number" id="phoneNumber" name="phoneNumber" placeholder="Enter your phone number">
                    <input type="password" name="password" placeholder="Password">
                    <p id="number_err" class="error"></p>
                    <input type="submit" value="Register">
                </form> 
            </div>
        </div>                   
    </div>
    <!-- <script src="/js/validation.js">
    </script> -->
    <script src="/js/validation.js"></script>
</body>
</html>