<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafe Page</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link to the style.css file -->
</head>
<body class="grid">
    <div class="cafe">
        <img src="/public/css/images/urthcafe.png" alt="Urth Café">
        <h2>Urth Café</h2>
        <p><strong>Open Hours:</strong> 7:00 AM - 12:00 PM</p>
        <p><strong>Location:</strong> Olaya</p>
    </div>
    <div class="cafe">
        <img src="/images/starbucks.png" alt="Starbucks">
        <h2>Starbucks</h2>
        <p><strong>Open Hours:</strong> 6:00 AM - 2:00 AM</p>
        <p><strong>Location:</strong> Olaya</p>
    </div>
    <div class="cafe">
        <img src="/images/timHortons.png" alt="Tim Horton">
        <h2>Tim Horton</h2>
        <p><strong>Open Hours:</strong> 8:00 AM - 3:00 AM</p>
        <p><strong>Location:</strong> Al Tahlia</p>
    </div>
    <div class="cafe">
        <img src="/images/blackHouse.png" alt="Black House">
        <h2>Black House</h2>
        <p><strong>Open Hours:</strong> 11:00 AM - 11:00 PM</p>
        <p><strong>Location:</strong> Olaya</p>
    </div>
    <div class="cafe">
        <img src="/images/drCafe.png" alt="dr.Cafe">
        <h2>dr.Cafe</h2>
        <p><strong>Open Hours:</strong> 11:00 AM - 2:00 AM</p>
        <p><strong>Location:</strong> Al Ghadeer</p>
    </div>
    <div class="cafe">
        <img src="/images/oreocafe.png" alt="Oreo">
        <h2>Oreo</h2>
        <p><strong>Open Hours:</strong> 11:00 AM - 12:00 AM</p>
        <p><strong>Location:</strong> Al Wurud</p>
    </div>
</body>
</html>
