<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafe Page</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link to the style.css file -->
</head>
<body class="grid">
    <div class="cafe">
        <img src="/images/urthcafe.png" alt="Urth Café" id="Image"/> 
        <h2>Urth Café</h2>
        <p>Open Hours: 7:00 AM - 12:00 PM</p>
        <p>Location: Olaya</p>
    </div>
    <div class="cafe">
        <img src="/images/starbucks.png" alt="Starbucks" id="Image">
        <h2>Starbucks</h2>
        <p>Open Hours: 6:00 AM - 2:00 AM</p>
        <p>Location: Olaya</p>
    </div>
    <div class="cafe">
        <img src="/images/timHortons.png" alt="Tim Horton" id="Image">
        <h2>Tim Horton</h2>
        <p>Open Hours: 8:00 AM - 3:00 AM</p>
        <p>Location: Al Tahlia</p>
    </div>
    <div class="cafe">
        <img src="/images/blackHouse.png" alt="Black House" id="Image">
        <h2>Black House</h2>
        <p>Open Hours: 11:00 AM - 11:00 PM</p>
        <p>Location: Olaya</p>
    </div>
    <div class="cafe">
        <img src="/images/drCafe.png" alt="dr.Cafe" id="Image">
        <h2>dr.Cafe</h2>
        <p>Open Hours: 11:00 AM - 2:00 AM</p>
        <p>Location: Al Ghadeer</p>
    </div>
    
</body>
</html>
