<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Your Option</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link to the style.css file -->

</head>
<body class="unique-background">
    <div>
        <h1>Choose Your Option</h1>
        <p>Select an option below:</p>
        <ul>
            <li><a href="restaurantPage.html">Restaurants</a></li>
            <li><a href="cafePage.html">Cafes</a></li>
        </ul>
    </div>
</body>
</html>
