<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Your Option</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link to the style.css file -->
</head>
<body class="page-wrapper">
    <div class="content-box">
        <h1 class="title">Choose Your Option</h1>
        <ul class="option-list">
            <li class="option-item"><a class="option-link" href="/restaurantPage">Restaurants</a></li>
            <li class="option-item"><a class="option-link" href="/cafePage">Cafes</a></li>
        </ul>
    </div>
</body>
</html>
