<!DOCTYPE html>
<html lang="en">
<head>
  <!-- general meta tags -->
  <meta charset="utf-8">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- site specific tags -->
  <title></title>
  <!-- style sheets -->
  <!-- <link rel="stylesheet" href="css-reset.css"> -->
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    
    <nav>
      
    </nav>
  </header>
  <main>
    <section>
        <div id="popup" class="popup">
          <div class="popup-content">
            <!-- <span class="close" id="closePopup">&times;</span> -->
            <h2>Enter the number of people:</h2>
            <input type="number" id="numberOfPeople" placeholder="Enter number of people">
            <button id="closePopup">Submit</button>
          </div>
        </div>
    </section>
  </main>
  <script>
  document.addEventListener("DOMContentLoaded", function(event) {
    const closePopupButton = document.getElementById('closePopup');
    const popup = document.getElementById('popup');
    popup.style.display = 'block';

    closePopupButton.addEventListener('click', () => {
      const popup = document.getElementById('popup');
      popup.style.display = 'none';
    });

  });
// Additional functionality for submitting the number of people
// const submitPeopleButton = document.getElementById('submitPeople');
// const numberOfPeopleInput = document.getElementById('numberOfPeople');

// submitPeopleButton.addEventListener('click', () => {
//   const numberOfPeople = numberOfPeopleInput.value;
  
// }); 
  </script>
</body>
</html>