<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link to the style.css file -->
</head>
<body class="unique-background phone-number-page"> 
    <div class="container">
        <h1>Enter Your Phone Number</h1>                            
        <form id="phoneNumberForm" action="/ChoicePage">     
            <label for="phoneNumber">Phone Number:</label>
            <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="Enter your phone number">
            <p id="number_err" class="error"></p>
            <button type="submit">Submit</button>
        </form>
    </div>
    <script src="/js/validation.js">
    </script>
</body>
</html>