<!DOCTYPE html>
<html lang="en">
<head>
  <!-- general meta tags -->
  <meta charset="utf-8">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
  <main>
    <div class="overlay">
      <div class="form-container">
        <p class="title">Welcome back</p>
        <form class="form" action="" method="POST">
          <input type="password" class="input" name="password" placeholder="Password" required>
          <button class="form-btn" type="submit">Log in</button>
        </form>
      </div>
    </div>
  </main>
</body>
</html>