<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Page</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link to the style.css file -->

</head>
<body class="grid">
    <div class="card">
        <a href=""><img src="images/Centuryburger.png" alt="Centuryburger" id="Image"></a>
        <h2>Centuryburger</h2>
        <p>Open Hours: 7:00 AM - 12:00 PM</p>
        <p>Location: Olaya</p>
    </div>

    <div class="card">
        <a href=""><img src="images/kfc.png" alt="KFC" id="Image"></a>
        <h2>KFC</h2>
        <p>Open Hours: 6:00 AM - 2:00 AM</p>
        <p>Location: Olaya</p>
    </div>

    <div class="card">
        <a href=""><img src="images/burgermap.png" alt="BurgerMap" id="Image"></a>
        <h2>BurgerMap</h2>
        <p>Open Hours: 8:00 AM - 3:00 AM</p>
        <p>Location: Al Tahlia</p>
    </div>

    <div class="card">
        <a href=""><img src="images/baitelshawaya.png" alt="Bait El Shawaya" id="Image"></a>
        <h2>Bait El Shawaya</h2>
        <p>Open Hours: 11:00 AM - 11:00 PM</p>
        <p>Location: Olaya</p>
    </div>

    <div class="card">
        <a href=""><img src="images/ShawarmaHouse.png" alt="Saraya El Turky" id="Image"></a>
        <h2>Saraya El Turky</h2>
        <p>Open Hours: 11:00 AM - 2:00 AM</p>
        <p>Location: Al Ghadeer</p>
    </div>

    <div class="card">
        <a href=""><img src="images/MamaNora.png" alt="Burj El Kabab" id="Image"></a>
        <h2>Mama Noura</h2>
        <p>Open Hours: 11:00 AM - 12:00 AM</p>
        <p>Location: Al Wurud</p>
    </div>
</body>
</html>
