<!DOCTYPE html>
<html lang="en">
<head>
  <!-- general meta tags -->
  <meta charset="utf-8">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="menu-page-header">
        <a href="/"><img src="/images/logo.png" alt="ServeHarmony Logo" class="logo"></a>
        <a href="/"><h1>Order Details</h1></a>
    </header>
    <main class="mainOrder">
        <% if (orders.length > 0) { %>
            <ul class="userOrders">
                <% orders.forEach(order => { %>
                    <li>
                        Order ID: <%= order._id %><br>
                        Date: <%= order.orderDate.toDateString() %><br>
                        Total Items: <%= order.menuitems.length %>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>No orders found.</p>
        <% } %>
  </main>
  
</body>
</html>