:root {
    --bg-primary: #F5F5F5;
    --bg-secondary: #D2B48C;
    --text-primary: white;
    --text-secondary: black;
}

html {
    background-color: var(--bg-secondary);
}

.card {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bg-primary);
    border: 2px solid black;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.09);
}

#Image {
    width: 200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.cafe img, .restaurant img {
    width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

.page-wrapper {
    background-color: var(--bg-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
    text-align: left;
    padding: 40px;
    background-color: var(--text-primary);
    box-shadow: 0 20px 30px rgba(0,0,0,0.4);
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
}

.title {
    grid-column: 1 / 2;
    place-self: center start;
    color: var(--text-secondary);
}

.option-list {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.option-item {
    margin: 20px 0;
}

.option-link {
    background-color: var(--bg-secondary);
    text-decoration: none;
    color: var(--text-primary);
    font-weight: 500;
    padding: 15px 30px;
    font-size: 16px;
    border: 2px solid var(--text-primary);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
}

.option-link:hover, .option-link:focus {
    background-color: var(--text-primary);
    color: var(--bg-secondary);
    border: solid 4px var(--bg-secondary);
}

.phone-number-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-secondary); /* Use the primary background color for consistency */
    
}

.phone-number-page .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--text-primary);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px; /* Ensures good appearance on desktop */
    margin: auto; /* Center the container vertically for smaller heights */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.phone-number-page h1 {
    color: var(--bg-secondary); /* Using the secondary color for the heading */
    margin-bottom: 2rem;
}

.phone-number-page label, .phone-number-page input[type="tel"], .phone-number-page button {
    width: 80%; /* Ensuring label, input, and button have the same width */
    margin: 10px 0; /* Consistent margin for vertical spacing */
}

.phone-number-page input[type="tel"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--bg-secondary);
    background-color: var(--bg-primary);
    color: var(--text-secondary);
}

.phone-number-page button {
    padding: 10px 20px;
    color: var(--text-primary);
    background-color: var(--bg-secondary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.phone-number-page button:hover {
    background-color: #e8bb82;
}

@media only screen and (min-width: 1024px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1023px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    p {
        margin: 5px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        margin: 5px;
        padding: 5px;
    }
    p {
        margin: 5px;
        font-size: 20px;
    }
    .phone-number-page .container {
        width: 80%; /* Slightly wider container for small screens */
    }
}

